<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('includes/head') %>
   <link rel="stylesheet" href="/styles/findbook.css">
</head>
<body>
    <%- include('includes/header') %> 
   <div id="book-detail">
    <h1> <%=book.title %></h1>
    <h2><%=book.author%></h2>
    <p><%=book.about%></p>
    <a id="link" href="https://amazon.com">Find Book</a>
   </div>
</body>
</html>